body {
  font-family: Arial, sans-serif;
  background-image:url(https://getwallpapers.com/wallpaper/full/6/f/1/1369498-cool-best-weather-wallpaper-1920x1080-phone.jpg);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  margin-top: 105px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid black;
  box-shadow: 5px 2px 10px black;
}

h1 {
  font-size: 44px;
  font-weight: 600;
  color: #0f1214;
}

.animated_text h1 {
  -webkit-text-stroke: 1px #100d09;
  font-family: Arial, Helvetica, sans-serif;
  color: transparent;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, black,black);
  -webkit-background-clip: text;
  background-clip: none;
  background-position: -500px 0;
  animation: backcolor 8s 0s linear infinite;
}

@keyframes backcolor {

  100% {
      -webkit-text-stroke:1px #33383C;
      background-position: 0 0;
  }
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #141111; 
  border-radius: 5px;
  box-shadow: 3px 3px 8px black;
}

input::placeholder{
  font-size: 15px;
  font-weight: 400;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 8px black;
}

.weather-info {
  margin-top: 20px;
}

h2{
  font-size: 40px;
}

p{
  font-size: 30px;
  font-weight: 500;
}